@font-face {
	font-family: 'Ballinger';
	font-display: swap;
	font-size: normal;
	src: url('/fonts/ballinger-regular.otf') format('opentype');
}

.copy-header {
	@include fontSizeResponsive(41.1, 3.4, 160, 38.2);
	line-height: 0.8;
	letter-spacing: 0px;
}

.copy-default {
	@include fontSizeResponsive(41.1, 1.4, 144, 1.5);
	line-height: 1.2;
	letter-spacing: 0px;
}

.copy-uppercase {
	@include fontSizeResponsive(41.1, 1.2, 144, 1.4);
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0px;
}

.copy-link {
	@include fontSizeResponsive(41.1, 1.4, 144, 1.6);
	line-height: 1;
	letter-spacing: .04em;

}