.copy-h1 {
	@include fontSizeResponsive(41.1, 6.4, 144, 14);
	line-height: 0.9;
	font-weight: 600;
	letter-spacing: -2px;
}

.copy-h2 {
	@include fontSizeResponsive(41.1, 4.8, 144, 9.6);
	line-height: 1;
	font-weight: 600;
	letter-spacing: -2px;
}

.copy-h3 {
	@include fontSizeResponsive(41.1, 3.8, 144, 6.6);
	line-height: 1;
	font-weight: 600;
}

.copy-h4 {
	@include fontSizeResponsive(41.1, 3, 144, 4.8);
	line-height: 1;
	font-weight: 600;
}

.copy-h5 {
	@include fontSizeResponsive(41.1, 2.6, 144, 3.4);
	line-height: 1;
	font-weight: 500;
}

.copy-h6 {
	@include fontSizeResponsive(41.1, 1.9, 144, 2.6);
	line-height: 1;
	font-weight: 500;
}

.copy-lead {
	@include fontSizeResponsive(41.1, 1.6, 144, 1.9);
	line-height: 1.2;
	font-weight: 500;
}

.copy-text {
	@include fontSizeResponsive(41.1, 1.4, 144, 1.6);
	line-height: 1.4;
	font-weight: 400;

	&.bold {
	}
}

.copy-small {
	@include fontSizeResponsive(41.1, 1.2, 144, 1.4);
	line-height: 1.3;
	font-weight: 400;
}

.copy-footnote {
	@include fontSizeResponsive(41.1, 1, 144, 1.2);
	line-height: 1.25;
	font-weight: 400;
}

.copy-button {
	font-size: 2rem;
	line-height: 1.4;
	font-weight: 600;
}

.copy-button-small {
	@include fontSizeResponsive(41.1, 1.5, 144, 1.7);
	line-height: 1.4;
	font-weight: 600;
}

.copy-link {
	@include fontSizeResponsive(41.1, 1.3, 144, 1.5);
	line-height: 1.1;
	font-weight: 600;
}

.copy-placeholder {
	@include fontSizeResponsive(41.1, 1.4, 144, 1.6);
	line-height: 1.4;
	font-weight: 400;
}

.copy-label {
	@include fontSizeResponsive(41.1, 1.4, 144, 1.6);
	line-height: 1.4;
	font-weight: 400;
}

.copy-link-regular {
	@include fontSizeResponsive(41.1, 1.4, 144, 1.6);
	line-height: 1.4;
}

.copy-link-menu {
	font-size: 3rem;

	@include min-1024 {
		font-size: 4rem;
	}

	@include min-1024 {
		font-size: 1.6rem;
	}
}
