@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utils.scss';
@import './reset.scss';
@import './variables.scss';
@import './typography.scss';
@import './double.scss';

$base-font-size: 10px;
$easing: cubic-bezier(0.24, 0.16, 0, 0.95);
$duration: 300ms;
$transition: $easing $duration;

html {
	// Setting font-size to 10px makes it easy to work with rem* units
	// *1rem = 10px
	font-size: $base-font-size;
	min-height: 100vh;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

#__next, .dark-theme {
	min-height: 100vh;
}

main {
  padding-bottom: 10vh;
}

.light-theme {
	background-color: $white;
	color: $black;
	transition: $transition-500;

	& *::selection {
		background-color: $black;
		color: $light-gray;
	}

	.link-text::after {
		background-color: $black;
	}
}

.dark-theme {
	background-color: $black;
	color: $light-gray;
	transition: $transition-500;

	& *::selection {
		background-color: $light-gray;
		color: $black;
	}

	.link-text::after {
		background-color: $light-gray;
	}
}

.link-text {
	position: relative;
	padding-bottom: 2px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		transform-origin: left;
		width: 100%;
		height: 1px;
		transform: scaleX(0);
		transition: $transition-350;
	}

	@media (hover: hover) {
		&:hover::after {
			transform: scaleX(1);
		}
	}
}


